* {
    background-color: rgb(59, 58, 58);
    margin: 0%;
    padding: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
    --pretext: white;
    --innergrid: rgb(170, 62, 170);
}

body {
    width: 100%;
    line-height: 2;
}


.headertitle h1 {
    display: flex;
    justify-content: space-around;
    font-size: xx-large;
    margin-top: 2%;
    color: var(--innergrid);
    flex-wrap: wrap;
}

.headertitle p {
    text-align: center;
    color: var(--pretext);
    font-size: medium;
    margin: 0% 10%;
    padding: 10px 40px;
    display: flex;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    font-size: small;
    justify-content:space-around;
    flex-direction: row;
}

.Flexbox {
    border: 1px dashed white;
    margin: 20px 10px;
    width: 30%;
}

.Flexbox h3 {
    font-size: x-large;
    margin: -20px 20px;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 10px;
    color: var(--innergrid);
    
}

.Flexbox p {
    margin: 20px 20px;
    padding: 5px 5px;
    font-size: medium;
    color: var(--innergrid);
}

.Flexbox pre {
    font-size: medium;
    margin: 10px 20px;
    border-radius: 10px;
    background-color: var(--innergrid);
    color: var(--pretext);
    display: flex;
    flex-wrap: wrap;

}

footer h3 {
    text-align: center;
    display: inline;
    align-content: center;
    color: var(--innergrid);
}

.red {
    color: red;

}
@media screen and (max-width:992px) {
    .Flexbox{width: 50%;}

}
@media screen and (max-width:768px) {
    .Flexbox{width: 100%;}
}